html {

font-size: 65%;
}
body{

margin: 3px;

}
main {

display: grid;
grid-template-columns: 150px 300px 150px 100px;
grid-template-rows: 100px 300px 150px 100px;
place-content: center;
grid-gap: 10px 5px;
font-size: 30px ;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #00bffe;
height: 100px;
color: white;

}

.sidebar {
    background-color: rgb(42, 216, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/  4;
height: 460px;
width: 150px;
color: white;
}

.maincontent {

background-color: rgb(222, 207, 37);
display: flex;
align-items: center;
justify-content: center;
grid-column: 2/5;
height: 300px;
color: white;
}

.extracontent {

background-color: darkgrey;
display: flex;
align-items: center;
justify-content: center;
grid-column: 2/5;
color: white;
}

.footer {

    background-color: rgb(222, 160, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 4;
    grid-column: 1/5;
    height: 100px;
    color: white;
}