*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
body{
background-image: url(./zelda1.jpg);
background-position: center;
}
.box1{
color: white;
text-align: center;
list-style: none;
height: 100px;
}

header{

display: block;

}


.column{
    display: flex;
    
}

.two{
    align-content: left;
    width: 25%;
    margin: 30px;
}
.box3{
    background-color: coral;
    padding: 80px;
    margin: 5px;
    text-align: center;
    color: white;
    background-image: url(dq-slime2.jpg);
    border: 5px solid black;
    
}
.box2{
    background-color: coral;
    padding: 60px;
    margin: 5px;
    text-align: center;
    color: white;
    background-image: url(dq-slime2.jpg);
    border: 5px solid black;
    
}
.box1a{

    background-color: coral;
    padding: 60px;
    margin: 5px;
    text-align: center;
    color: white;
    background-image: url(megaman1.jpg);
    border: 5px solid black;

}
