html {
    font-size: 12px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    main {
        width: auto;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
        border: solid grey;
        }

    header {
        background-color: #549ff8;
        grid-column: 1/5;
        text-align: center;
        border: solid grey;
        color: white;
        }
    .maincontent{
        background-color:  #6cc344;
        grid-column: 2/3;
        grid-row: 2/4;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 80px;
        color: white;

    }

    aside {
        grid-column: 3/4;
        grid-row: 2/4;
        background-color: #b079d8;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .twin1 {
        background-color: #f3941e;
        grid-column: 2/3;
        align-items: center;
        text-align: center;
        
        color: white;
    }

    .twin2 {
        background-color: #f3941e;
        grid-column: 3  ;
        align-items: center;
        text-align: center;
        color: white;
        justify-content: center;
        
    }

footer {
font-size: 30px;
background-color: #0463c3;
grid-row: 5;
grid-column: 1/5;
color: white;
text-align: center;
border: solid gray;
}

    