* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }

body{

height: 100vh;

}



    header {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    grid-row: 1;
    
    }

    .main-title{
        grid-column: 2;
        text-align: center;
    }

    .main-title-left {

        background-color:  #757a82;
        grid-row: 1;
    }

    .main-title-right {

background-color: #d9dae1 ;

    }

.main-body {
margin-top: 10px;
height: 10%;
width: auto;
background-color: #1b2134;
}

.nav1{

display: grid;
grid-template-columns: repeat(3, 1fr);

}


ul{
grid-column: 2/4;
display: inline-block;
font-size: 10px;
list-style: none;
}
.li_item{
    
    box-shadow: #f6b913;
text-decoration: none;
background-color: rgb(237, 164, 38);
display: inline-block;
margin: 1%;
border-radius: 30px;
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666
}

.li_item:hover a {
    background-color: aqua;

}


.main-body2{

display: grid;
grid-template-columns: repeat(3, 1fr);
;
grid-template-rows: repeat(2, 1fr);
background-color: #1b2134;
height: 400px;
}

.lista-nav{
    
    grid-column: 3/4;
    overflow: hidden;
    height: 50%;
    width: 40%;
    margin-top: 10%;
    background-color: white;
    border: 5px solid black;
    overflow-y: scroll;
    grid-row: 1;
}
.categoriaimg{
margin: 10px;
border: solid black;
width: 80px;
}

.article2{
    font-size: 13px;
grid-column: 2/3;
color: white;

width: 300px;
float: right;
height: 0;
}



button {
margin-top: 10%;
margin-left: 30%;
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #fafafa;
  font-size: 10px;
  padding: 19px;
  text-decoration: none;
  background-color: coral;
}

.tituloparrafochico {
color: white;
grid-row: 2;
grid-column: 2;
font-family: 'Times New Roman', Times, serif;
text-align: center;
background-color: ;
height: 100%

}

.main-body3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40%;
   
    ;
}



.article3{

    grid-column: 3;
}


.articlefinal {


}

.titulofinal {

margin-top: 10%;

}

h5{

width: ;

}

.logo1 {
margin-top: 6%;
border: solid;
height: 60%;
width: 60%;
margin-left: 3%;
background-image: url(./pantalon1.jpg);
background-size: cover;
}

@media screen and (min-width: 794px) {
	body {
		background: rgba(252, 255, 252, 0.2);
		margin: 25px 6%;
    }
    .lista-nav {
		float: left;
		width: 60%;
		margin-right: 4.5%;
	}
}

@media screen and (min-width: 1020px) {
	body {
		background: rgba(252, 255, 252, 0.2);
		margin: 25px 10%;
		max-width: 1130px;
	}
	
	.lista-nav {
		width: 60%;
		margin-right: 2.5%;
	}
}
@media screen and (min-width: 412px) {
	body {
		background: rgba(252, 255, 252, 0.2);
		margin: 25px 10%;
		max-width: 1130px;
	}
	
	.lista-nav {
		width: 60%;
		margin-right: 2.5%;
	}
}

@media screen and (min-width: 350px) {
	body {
		background: rgba(252, 255, 252, 0.2);
		margin: 25px 10%;
		max-width: 1130px;
	}
	
	.lista-nav {
		width: 60%;
		margin-right: 2.5%;
	}
}

