html {
font-size: 65%;
}

main {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 190px 60px 70px ;
    place-content: center;
    column-gap: 5px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #00bffe;
    color: white;
    gap: 20px;
    column-gap: 5px;
}

.left-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    background-color: #208407;
    color: white;
    column-gap: 5px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 3;
    grid-row: 2;
    background-color: coral;
    color: white;
    column-gap: 5px;
}

.extracontent {

grid-column: 1 / span 4;
grid-row: 3;
background-color: bisque;

}

.footer {
    grid-column: 1 /  span 4;
    justify-content: center;
    grid-row: 3;
    align-items: center;
    background-color: #e29c2b;
   display: flex;
   color: white;
   column-gap: 5px;
}