html{

font-size: 65%;

}

main {

margin: auto;
margin-top: 100px;
display: grid;
width: 600px;
grid-template-columns: repeat(4, 100px);
grid-template-rows: 50px 200px 100px 50px ;
gap: 5px 5px;
color: black;
font-family: sans-serif;
}

p{
text-align: center;

}
div{
background-color: coral;
}
header {
grid-column: 1;
grid-row: 2/ span 2;

}
nav{
grid-column: 4 / span 2;
grid-row: 2;
}
