* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

.main-nav {
margin-top: 10px;
background-color: tomato;
list-style: none;

}

.main-nav_item{

display: inline-block;
}

.main-nav_item a{
font-size: 28px;
color: white;
padding: 5px;
border-radius: 10px;
text-decoration: none;
background-color: green;

}

.main-nav a:hover{
background-color: aqua;

}

.main-div1 {

display: grid;
grid-template-columns: repeat(3, 1fr);

}



p{
    
margin-top: 3%;
border: solid red;
}

p:hover {

background-color: blue;

}

.main-article1 {
width:40%;
grid-column: 2;

}

.main-article2
 {

width: 30%;
grid-row: 1;
grid-column: 3;
 }

 .container {
    overflow: hidden;
    
    width: 50%;
    height: 20%;
    
    border: 5px solid black;
    overflow-y: scroll;
    grid-row: 1;
  }