* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    }
header{
height: 10%;
background-image: url(./coffee2.jpg);
background-position: center;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 5%;
color: darkred;
padding-bottom: 5%;
}

body {

background-color: rgb(244, 226, 205);
height: 100%;
width: 100%;
}


.contenedor{
    align-items: center;
    justify-content: center;
text-align: center;
height: 30%;
width: 70%;
background-color: white;
margin-top: 3%;
margin-left: 20%;
}

.greenbeans{
    
    color: aliceblue;
    margin-left: 25% ;
height: 10%;
width: 50%;
background-color: rgb(56, 211, 66);
margin-top: 2%;
font-size: 14px;
}
.lightroast {
    margin-left: 25%;
    height: 10%;
width: 50%;
    background-color: maroon;
    color: white;
}

.cityroast {

    margin-left: 25%;
    height: 10%;
    width: 50%;
    background-color: rgb(216, 121, 19);
    color: white;

}

.viennaroast {

    margin-left: 25%;
    height: 10%;
width: 50%;
    background-color: rgb(211, 62, 17);
    color: white;

}

.italianroast {

    margin-left: 25%;
    height: 10%;
width: 50%;
    background-color: rgb(0, 0, 0);
    color: white;

}

.contenedor2 {

margin-top: 2%;

}


.brazil{
text-align: center;
border: solid rgb(243, 229, 191);
height: 100px;
align-items: center;
justify-content: center;
background-color: rgb(243, 229, 191);
margin-top: 2%;
}
.ethiopia{

height: 100px;
text-align: center;
border: solid rgb(243, 229, 191);
height: 100px;
align-items: center;
justify-content: center;
background-color: rgb(243, 229, 191);
margin-top: 2%;
}

.costarica{

height: 100px;
text-align: center;
border: solid rgb(243, 229, 191);
height: 100px;
align-items: center;
justify-content: center;
background-color: rgb(243, 229, 191);;
margin-top: 2%;
}
.kenya{
background-color: rgb(243, 229, 191);;
height: 100px;
text-align: center;
border: solid rgb(243, 229, 191);
height: 100px;
align-items: center;
justify-content: center;
margin-top: 2%
}

h5{

color: darkgreen;

}

h3{

color: chocolate;

}